@inherits UmbracoViewPage
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers

@{
    var loginModel = new LoginModel();

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
}

@* NOTE: This RenderJsHere code should be put on your main template page where the rest of your script tags are placed *@
@Html.RenderJsHere()
@if (!Members.GetCurrentLoginStatus().IsLoggedIn)
{
    using (Html.BeginUmbracoForm<UmbLoginController>("HandleLogin"))
    {

        <legend>Login</legend>
        <hr />
        @Html.ValidationSummary("loginModel", true)
        <div class="row form-group">
            <div class="form-group col-xs-6 floating-label-form-group controls">
                @Html.LabelFor(m => loginModel.Username)
                @Html.TextBoxFor(m => loginModel.Username)
                @Html.ValidationMessageFor(m => loginModel.Username)
            </div>
        </div>
        <br />
        <div class="row form-group">
            <div class="form-group col-xs-6 floating-label-form-group controls">
                @Html.LabelFor(m => loginModel.Password)
                @Html.PasswordFor(m => loginModel.Password)
                @Html.ValidationMessageFor(m => loginModel.Password)
                <br />
            </div>
        </div>
        <button id="contact-submit" type="submit" class="btn btn-primary input-medium pullleft">Login</button>

    }
}
else
{
    <p>You are currently logged in as  @Members.GetCurrentLoginStatus().Name</p>
    var logoutModel = new PostRedirectModel();
    logoutModel.RedirectUrl = "/";
    using (Html.BeginUmbracoForm<UmbLoginStatusController>("HandleLogout"))
    {
    <button id="contact-submit" type="submit" class="btn btn-primary input-medium pullleft">Logout</button>
    @Html.HiddenFor(m => logoutModel.RedirectUrl)
    }
}